body {
	background-color: #fff;
}

h1, #hh {
	margin-top: 50px;
	text-align: center;
	font-size: 80px;
	font-family: Helvetica;
}	

.container {
	text-align: center;
}

#top {
	margin: 40px auto;

}
#usrfm {
	display: none;
	margin-top: 100px;
}

form {
	display: none;
}
#abut {
	background: #2A6881;
	color: #fff;
    padding: 5px 10px;
    border-radius: 10px;	
    text-decoration: none;
    margin-left: 30px;
}