h1, #hh {
	margin-top: 75px;
	text-align: center;
	font-size: 80px;
	font-family: Helvetica;
}
	
h2, #hawc-hh2{
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	font-family: Helvetica;
}

.hawcContainer {
	text-align: center;
}

#top {
	margin: 40px auto;

}
#usrfm {
	display: none;
	margin-top: 100px;
}

#abut {
	background: #2A6881;
	color: #fff;
    padding: 5px 10px;
    border-radius: 10px;	
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
}
#barb {
	width: 15%;
	height: auto;
}